@import url("https://fonts.googleapis.com/css?family=Montserrat");
* {
  color: #363636;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

h1.primary,
h2.primary,
h3.primary,
h4.primary,
h5.primary,
h6.primary,
p.primary,
a.primary,
span.primary {
  color: #0085b6;
}

h1.info,
h2.info,
h3.info,
h4.info,
h5.info,
h6.info,
p.info,
a.info,
span.info {
  color: #0bb4c1;
}

h1.danger,
h2.danger,
h3.danger,
h4.danger,
h5.danger,
h6.danger,
p.danger,
a.danger,
span.danger {
  color: #ff005d;
}

h1.success,
h2.success,
h3.success,
h4.success,
h5.success,
h6.success,
p.success,
a.success,
span.success {
  color: #00d49d;
}

h1.tip,
h2.tip,
h3.tip,
h4.tip,
h5.tip,
h6.tip,
p.tip,
a.tip,
span.tip {
  color: #fedf03;
}

h1.center-text,
h2.center-text,
h3.center-text,
h4.center-text,
h5.center-text,
h6.center-text,
p.center-text,
a.center-text,
span.center-text {
  text-align: center;
}

.size-1 {
  font-size: 3rem;
  margin: 18px 0;
}

.size-2 {
  font-size: 2.6rem;
  margin: 15px 0;
}

.size-3 {
  font-size: 2.2rem;
  margin: 12px 0;
}

.size-4 {
  font-size: 1.8rem;
  margin: 9px 0;
}

.size-5 {
  font-size: 1.4rem;
  margin: 6px 0;
}

.size-6 {
  font-size: 1rem;
  margin: 3px 0;
}

.btn {
  padding: 8px 20px;
  border: none;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
}

.btn:focus {
  outline: none;
}

.btn:hover {
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1);
}

.btn-rounded {
  border-radius: 20px;
}

.btn.pull-left {
  float: left;
}

.btn.pull-right {
  float: right;
}

.btn-primary {
  background-color: #0085b6;
  color: white;
}

.btn-info {
  background-color: #0bb4c1;
  color: white;
}

.btn-danger {
  background-color: #ff005d;
  color: white;
}

.btn-success {
  background-color: #00d49d;
  color: white;
}

.btn-tip {
  background-color: #fedf03;
  color: white;
}

.btn-lift-1 {
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1);
}

.btn-lift-1:hover {
  -webkit-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
}

.btn-lift-2 {
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2);
}

.btn-lift-2:hover {
  -webkit-box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.25);
}

.btn-lift-3 {
  -webkit-box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.3);
}

.btn-lift-3:hover {
  -webkit-box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.35);
          box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.35);
}

.btn-lift-4 {
  -webkit-box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.4);
}

.btn-lift-4:hover {
  -webkit-box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.45);
          box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.45);
}

.card {
  border-radius: 5px;
  background-color: white;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2);
}

.card .card-image {
  border-radius: 5px 5px 0px 0px;
  width: 100%;
  height: auto;
}

.card .card-image img {
  border-radius: 5px 5px 0px 0px;
  width: 100%;
}

.card .card-content {
  padding: 20px;
}

.form .form-field .input {
  display: block;
  padding: 5px;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.form .form-field .input:focus {
  outline: none;
  border-bottom: 1px solid #0085b6;
}

.form .form-field .textarea {
  display: block;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.form .form-field .textarea:focus {
  outline: none;
  border: 1px solid #0085b6;
}

.form .form-field .select {
  padding: 5px;
  border-radius: 5px;
}

.form .form-field .select option[disabled] {
  background-color: rgba(0, 0, 0, 0.1);
}

.form .form-field .select:focus {
  outline: none;
  border: 1px solid #0085b6;
}

.form .form-field.inline .input {
  display: inline-block;
  margin-bottom: 0px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.table tr th,
.table tr td {
  padding: 10px;
}

.table tr.bordered th,
.table tr.bordered td {
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.table thead {
  text-align: left;
}

.table.bordered {
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.list {
  margin: 10px 0px;
  padding: 0;
  list-style-type: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: none;
  border-radius: 5px;
}

.list li.list-item {
  padding: 10px 20px;
  color: black;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.list li.list-item.active {
  background-color: #0085b6;
  color: white;
}

.container {
  position: relative;
  margin: 0 auto;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 1100px;
  width: 100%;
}

.row {
  width: 100%;
  overflow: hidden;
}

.col {
  float: left;
  width: 100%;
  padding: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.notification {
  margin: 15px 0px;
  padding: 20px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.notification.primary {
  border-left: 5px solid #0085b6;
}

.notification.info {
  border-left: 5px solid #0bb4c1;
}

.notification.danger {
  border-left: 5px solid #ff005d;
}

.notification.success {
  border-left: 5px solid #00d49d;
}

.notification.tip {
  border-left: 5px solid #fedf03;
}

@media (min-width: 500px) {
  .container {
    width: 85%;
  }
  .col-1 {
    width: 8.33333%;
  }
  .col-2 {
    width: 16.66667%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33333%;
  }
  .col-5 {
    width: 41.66667%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33333%;
  }
  .col-8 {
    width: 66.66667%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33333%;
  }
  .col-11 {
    width: 91.66667%;
  }
  .col-12 {
    width: 100%;
  }
}

@media (min-width: 800px) {
  .container {
    width: 80%;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 75%;
  }
}
/*# sourceMappingURL=chalk.css.map */